# ###########
# big files #
#############
*.fastq.gz
*.bam
*.bai
*.vcf
*.vcf.gz*
*.fastq
*.rds
*.bed
*.2bit
*.genome
*.tbi
*.vcf.gz
*.table
*.intervals
*.recal
*.RData*
*.Rdata
*.gds
*.P
*.Q
*.fam
*.bim
*.fst
*.tab
*frq
*.maf
*.nosex
*.ld
*.zip
*.tab
*.gff
*.hist
*.INDELids
*.INDELids2
*.loci
*.locus

# #############################
# Tables not used for metrics #
# #############################
*.sorted.RG.dedup.bqsr.table
*.sorted.dedup.metrics.txt

# ######
# Logs #
########
*.out
.Rproj.user
*.log
*.pid
*.Rout
*.RData
*.Rhistory
*.swp

# ##############################################
# Temporary directories and other directories
# ##############################################
TMP/
DUMP/
tmp/
batches123_01_ConsolidateGVFs/chr*
EXP/
batches123_01_ConsolidateGVFs_by_intervals/output
*tst*
tmp*
*.tmp
00_dashboard/old_versions/
00_dashboard/quick_and_dirty
requests/
old_stuff
resource_MDA_GIGAMUGA/
wildmouse/

#############################################
# Large files in ./reference_genome_ensembl #
# keep only readme with instructions        #
#############################################
Mus_musculus.GRCm38.93_gene.gtf
Mus_musculus.GRCm38.93.gff3.gz
Mus_musculus.GRCm38.93.gtf
Mus_musculus.GRCm38.dna.primary_assembly.dict
Mus_musculus.GRCm38.dna.primary_assembly.fa
Mus_musculus.GRCm38.dna.primary_assembly.fa.fai
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz.amb
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz.ann
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz.bwt
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz.pac
Mus_musculus.GRCm38.dna.primary_assembly.fa.gz.sa
mus_musculus_incl_consequences.vcf.gz
mus_musculus_incl_consequences.vcf.gz.tbi
mus_musculus_only_SNPs.vcf
mus_musculus_structural_variations.vcf
mus_musculus_structural_variations.vcf.gz.tbi
mus_musculus.vcf
mus_musculus.vcf.gz.tbi
mus_musculus.vcf.idx
release93_fasta_mus_musculus_dna_CHECKSUMS.txt
release93_fasta_mus_musculus_dna_README.txt
release93_gff3_mus_musculus_CHECKSUMS.txt
release93_gff3_mus_musculus_README.txt
release93_gtf_mus_musculus_CHECKSUMS.txt
release93_gtf_mus_musculus_README.txt
release93_vcf_mus_musculus_CHECKSUMS.txt
release93_vcf_mus_musculus_README.txt

# #####################################
# During batch3 BAMprep
# BQSR tables and dedup metrix
# TMP directory
# #####################################
./batch3/05_alignments_sort_dedup_bqsr/output/*.table
./batch3/05_alignments_sort_dedup_bqsr/output/*.metrics.txt

########
# Misc #
########
*.idx
*.pdf
*.tranches
*.txt
*.csv
*.html
*.variant_calling_summary_metrics
*.variant_calling_detail_metrics
*.SNPids
*.SNPids2
*.png
*.PNG
*.pi
*.xlsx
*.svg
*.ALTfrq
*.ALTfrq2
*.ALTfrq2_fixed_cols
*.doc
*.xls
*.roh
*.tab.gz
*_batch_res
*.rpt
for_manuscript/
*.tif
*.docx
*.md5
*.tab
*.BAMIndexStats*
*.CollectWgsMetrics*
*.flagstat*
*.CollectInsertSizeMetrics*
*.NBP
*.json
*.GB
*.NR
*.RData
*.locus
